#img-wrapper {
  position: relative;
  width: max-content;
  margin: 0 auto;
}
.home-img img {
  padding: 10px;
}
#img-wrapper::after {
  content: "";
  background: #25cff1;
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 150%;
  z-index: -1;
}
